.labelForRadio {
    font-weight: normal !important;
    cursor: pointer;
}

@media screen and (min-width: 792px){
    .insert-overflow{
        overflow-x: auto;
        margin-bottom: 25px;
    }
    .tb-treinamentos-width{
        width: 100% !important;
        /*table-layout: fixed;*/
    }

    /*
    *  STYLE 4 - scrollbar table
    */

    .dataTables_scrollBody::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgb(228, 25, 25);
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb
    {
        background-color: #f54141de;
        border: 2px solid #555555;
    }
    
    /* margin style table */
    
    .tableBodyRow {
        border-bottom-style: dashed;
        border-bottom-color: #f54141de;
        border-bottom-width: 2px;
    }

    .tb-treinamentos-width .row{
        margin: 10px 0px 10px 0px;
    }

    .buttons-row-container button{
        width: 100%
    }

    .buttons-row-container {
        margin: 15px 0px 15px 0px;
    }

    th.tableColumn.text-center.lixeira {
        width: 1.2% !important;
    }
}