.labelForRadio {
    font-weight: normal !important;
    cursor: pointer;
}

@media screen and (min-width: 792px){
    .insert-overflow{
        overflow-x: auto;
        margin-bottom: 25px;
    }
    .tb-treinamentos-width{
        width: 2500px !important;
        table-layout: fixed;
    }

    th.tableColumn.text-center.lixeira {
        width: 1.2% !important;
    }
}